/*Page SETUP*/

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;

}

header {
    background-color: #2c3f50;
    color: white;
    padding: 25px;

}

header h1{
    margin: 0;
}

/* navigation links */

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px 10px;
    background-color: #3498db;
    border-radius: 5px;
}

nav a:hover {
    background-color: #3498db;
    
}

/* Main content */

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
}

/* Table Style */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #2c3f50;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Link styles */

a {
    color: #259fc0;

}

/* Two column company design */
.two-column {
    display: flex;
    gap: 20px;
}

.left-column {
    width: 250px;
    flex-shrink: 0;
    
}

.right-column {
    flex-grow: 1;
}